.icon {
  font-size: 2.7rem;
}

.icon-box {
  align-items: center;
  display: flex;
  height: 50px;
}

.monster-icon {
  background-color: var(--monster);
  border: 4px solid var(--black);
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.fire-icon {
  background-color: var(--fire);
  border: 4px solid var(--fire);
  border-radius: 50%;
  color: var(--white);
  height: 42px;
  width: 42px;
}
